
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Changa", sans-serif;
}
.App {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 25%,
    rgb(17, 10, 39) 50%,
    rgb(0, 0, 0) 75%,
    rgb(0, 0, 0) 100%
  );

  background-size: 100% 200%;
  background-position: 0 50%;
  min-height: 100vh;
  overflow: hidden;
}
.loading-div-text {
  border-radius: 10px;
  border: 0 black solid;
  transition: 500ms;
}
#loading-div {
  background: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
}


.text-loaded-anim {
  color: rgb(140, 73, 255);
  border: 3px rgb(84, 20, 157) solid;
  padding: 10px;
}